<p id="notice"><%= notice %></p>

<h2>マンガ一覧</h2>
<p stype="margin-bottom: 20px"></p>


  <div class="row">
    <% @comics.each do |comic| %>
      <div class="col-md-4" style="margin-bottom: 40px">
        <div class="card">
          <%= link_to( image_tag('https://s3-ap-northeast-1.amazonaws.com/nagisa-intern/comic/' + comic.id.to_s + '/square_thumb.jpeg' , :class => 'img-fluid'), comic_path(comic)) %>
          <div class="card-body">
            <p><b><%= comic.title %></b></p>
            <p><%= comic.summary %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<br>
